<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="quartus.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
<system.data>

  </system.data>
    <userSettings>
        <quartus.My.MySettings>
            <setting name="Aimbot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AimMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RangeBased" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FovRifles" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SmoothRifles" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AimSpotRifles" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FovPistols" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SmoothPistols" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AimSpotPistols" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FovSnipers" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AimSpotSnipers" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SleepTime" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ESP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Toggable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ESPmode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Trigger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TriggerMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RageMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayAfterShotTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bhop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Radar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Noflash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoflashMaxAlpha" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Autopistol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TriggerKey" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="ESPKey" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="AimKey" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="APKey" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="SmoothSnipers" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ESPcolorEnemyVisR" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ESPcolorEnemyVisG" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ESPcolorEnemyVisB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ESPcolorEnemyVisA" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="ESPcolorEnemyR" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ESPcolorEnemyG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ESPcolorEnemyB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ESPcolorEnemyA" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="ESPcolorTeammateR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ESPcolorTeammateG" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ESPcolorTeammateB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ESPcolorTeammateA" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="ESPcolorWeaponsR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ESPcolorWeaponsG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ESPcolorWeaponsB" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ESPcolorWeaponsA" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="ESPcolorGrenadesR" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ESPcolorGrenadesG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ESPcolorGrenadesB" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ESPcolorGrenadesA" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="ESPcolorBombR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ESPcolorBombG" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ESPcolorBombB" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ESPcolorBombA" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="RageAim" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UNAME" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="PASSWD" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="ESPcolorChickenA" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="ESPcolorChickenR" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ESPcolorChickenG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ESPcolorChickenB" serializeAs="String">
                <value>100</value>
            </setting>
        </quartus.My.MySettings>
    </userSettings>
</configuration>
